@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
html {
  font-family: 'Lato', sans-serif;
  font-size: 50%;
}

@media (min-width: 992px) {
  html {
    font-size: 62.5%;
  }
}

html body {
  background-color: #ccc;
  font-size: 1.6rem;
}

html p {
  margin-bottom: 0;
}

.container-main {
  position: relative;
}

.container-header {
  padding: 3rem 0;
}

.map {
  padding: 3rem 0;
}

.map__country {
  max-height: 90vh;
}

@media (min-width: 576px) {
  .map__country {
    min-height: 48.3rem;
  }
}

@media (min-width: 768px) {
  .map__country {
    min-height: 65.4rem;
  }
}

@media (min-width: 992px) {
  .map__country {
    min-height: 90vh;
  }
}

.map__province-area {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  fill: #006400;
}

.map__province-area:hover {
  cursor: pointer;
  fill: #008d00;
}

.map .container {
  text-align: center;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  animation: appear 2s ease;
  -webkit-animation: appear 0.8s ease;
}

.slider__container {
  position: relative;
}

.slider__btn-close {
  background-color: #fff;
  position: absolute;
  top: -5rem;
  right: 0;
  width: 5rem;
  height: 5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 0.1rem solid #000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  outline: none;
  font-size: 3.2rem;
  font-weight: bold;
  opacity: 0.4;
}

.slider__btn-close:hover {
  opacity: 1;
}

.slider .react-slideshow-wrapper.slide {
  width: 97%;
}

.slider__each-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .slider__each-slide {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .slider__each-slide {
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .slider__each-slide {
    height: 600px;
  }
}

.slider__description {
  max-width: 80%;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.slider button.default-nav {
  width: 4.5rem;
  height: 4.5rem;
  padding-right: 0;
}

.header-primary {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 0;
}
/*# sourceMappingURL=index.css.map */