$color-province: #006400;


.map{
    padding: 3rem 0;
    &__country{
        max-height: 90vh;
        @media(min-width: 576px){
            min-height: 48.3rem;
        }
        @media(min-width: 768px){
            min-height: 65.4rem;
        }
        @media(min-width: 992px){
            min-height: 90vh;
        }
    }
    &__province-area{
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        fill: $color-province;
}
    &__province-area:hover{
        cursor: pointer;
        fill: lighten($color-province, 8%);
    }

    .container{
        text-align: center;
    }
}