@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.slider{
    animation: appear 2s ease;
    -webkit-animation: appear 2s ease;
}

.each-slide{
    display: flex;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}